@use '../styles/index.scss' as *;

.main-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

mat-drawer {
    width: $sidebar-width;
    border-right: 1px solid $border-color;
    padding-top: $spacing-lg;
}

mat-drawer-content {
    padding: $spacing-lg;
    background-color: $background-light;
    overflow-y: auto;
}