@use '../../../styles/index.scss' as *;
@use '../../../assets/layout/layout.scss' as *;

.profile-container {
    @extend .card;
}

.profile-header {
    display: flex;
    margin-bottom: $spacing-xxl;
}

.profile-picture {
    &-container {
        margin-right: $spacing-xxl;
        flex-shrink: 0;
    }

    & {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.profile-info {
    flex: 1;
}

.username-actions {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-lg;

    .username {
        font-size: 28px;
        font-weight: 400;
        margin-right: $spacing-lg;
        margin-bottom: 0;
    }
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
}

.profile-stats {
    display: flex;
    margin-bottom: $spacing-lg;

    span {
        margin-right: $spacing-xxl;
        font-size: 16px;

        strong {
            font-weight: 600;
            margin-right: $spacing-xs;
        }
    }
}

.full-name-bio {
    .full-name {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: $spacing-xs;
    }

    .bio {
        margin: 0 0 $spacing-xs;
        font-size: 16px;
        line-height: 24px;
    }
}

.content-border {
    display: flex;
    justify-content: center;
    border-top: 1px solid $border-color;
    margin-bottom: $spacing-lg;
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-xl;

    @include mobile {
        gap: $spacing-xs;
    }
}

.post-item {
    position: relative;
    width: 100%;
    padding-bottom: 100%; // Creates a square
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .post-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $overlay-background;
        @include flex-center;
        opacity: 0;
        transition: opacity 0.3s;

        &:hover {
            opacity: 1;
        }
    }

    .post-stats {
        display: flex;
        color: $background-light;

        span {
            @include flex-center;
            margin: 0 $spacing-sm;
            font-weight: 600;

            .mat-icon {
                margin-right: $spacing-xs;
            }
        }
    }
}

.no-posts {
    @include flex-center;
    flex-direction: column;
    padding: $spacing-xxl * 2;
    text-align: center;

    h2 {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: $spacing-md;
        color: var(--text-color);
    }

    p {
        color: $text-secondary;
        margin-bottom: $spacing-lg;
        color: var(--text-color-secondary);
    }
}