<app-dark-mode-toggle></app-dark-mode-toggle>

<div class="flex items-center justify-center min-h-screen w-full overflow-x-hidden">
    <div class="w-full max-w-3xl px-4 py-8">
        <div class="card shadow-md">
            <div class="w-full py-6 px-6 sm:px-10">
                <div class="text-center mb-8">
                    <h1 class="text-3xl font-medium mb-2">Create a new account</h1>
                    <p class="text-sm text-muted-color">Fill in your details to get started</p>
                </div>

                <p-toast />
                
                <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
                    <div class="mb-3">
                        <label for="firstName" class="block text-lg font-medium mb-2">First name</label>
                        <input 
                          pInputText 
                          id="firstName" 
                          type="text"
                          placeholder="Enter your first name" 
                          class="w-full mb-1"
                          formControlName="firstName"
                          [ngClass]="{'ng-invalid ng-dirty': registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched}"
                        />
                        
                        <div class="min-h-6">
                          @if (registrationForm.get('firstName')?.hasError('required') && registrationForm.get('firstName')?.touched) {
                            <p-message severity="error" text="First name is required" variant="simple" size="small"></p-message>
                          }
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="block text-lg font-medium mb-2">Last name</label>
                        <input 
                            pInputText 
                            id="lastName" 
                            type="text" 
                            placeholder="Enter your last name"  
                            class="w-full mb-1"
                            formControlName="lastName"
                            [ngClass]="{'ng-invalid ng-dirty': registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched}" 
                        />
                        
                        <div class="min-h-6">
                            @if (registrationForm.get('lastName')?.hasError('required') && registrationForm.get('lastName')?.touched) {
                                <p-message severity="error" text="Last name is required" variant="simple" size="small"></p-message>
                            }
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="userName" class="block text-lg font-medium mb-2">User name</label>
                        <input 
                            pInputText 
                            id="userName" 
                            type="text" 
                            placeholder="Choose a username" 
                            class="w-full mb-1"
                            formControlName="userName"
                            [ngClass]="{'ng-invalid ng-dirty': registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched}" 
                        />
                        
                        <div class="min-h-6"> 
                            @if (registrationForm.get('userName')?.hasError('required') && registrationForm.get('userName')?.touched) {
                                <p-message severity="error" text="Username is required" variant="simple" size="small"></p-message>
                            }
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="block text-lg font-medium mb-2">Email</label>
                        <input 
                            pInputText 
                            id="email" 
                            type="email" 
                            placeholder="example@email.com"
                            class="w-full mb-1"
                            formControlName="email"
                            [ngClass]="{'ng-invalid ng-dirty': registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched}" 
                        />
                        
                        <div class="min-h-6">
                            @if (registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.touched) {
                                <p-message severity="error" text="Email is required" variant="simple" size="small"></p-message>
                            }
                            @if (registrationForm.get('email')?.hasError('pattern') && registrationForm.get('email')?.touched) {
                                <p-message severity="error" text="Please enter a valid email address" variant="simple" size="small"></p-message>
                            }
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="password" class="block font-medium text-lg mb-2">Password</label>
                        <p-password 
                            id="password"
                            formControlName="password"
                            placeholder="Choose a password"
                            [toggleMask]="true"
                            [ngClass]="{'ng-invalid ng-dirty': registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched}" 
                            styleClass="mb-1 w-full" 
                            [fluid]="true" 
                        >

                            <ng-template #footer>
                                <p-divider />
                                <ul class="pl-2 my-2 text-sm">
                                    <li class="mb-1">At least one lowercase letter</li>
                                    <li class="mb-1">At least one uppercase letter</li>
                                    <li class="mb-1">At least one number</li>
                                    <li class="mb-1">Minimum 8 characters</li>
                                </ul>
                            </ng-template>
                        </p-password>
                        
                        <div class="min-h-6">
                            @if (registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched) {
                                <p-message severity="error" text="Password is required" variant="simple" size="small"></p-message>
                            }
                            @if (registrationForm.get('password')?.hasError('pattern') && registrationForm.get('password')?.touched) {
                                <p-message severity="error" text="Password doesn't meet requirements" variant="simple" size="small"></p-message>
                            }
                        </div>
                    </div>

                    <div class="mb-6">
                        <label for="confirmPassword" class="block font-medium text-lg mb-2">Confirm password</label>
                        <p-password 
                            id="confirmPassword"
                            formControlName="confirmPassword"
                            placeholder="Confirm your password" 
                            [toggleMask]="true"
                            [ngClass]="{'ng-invalid ng-dirty': (registrationForm.get('confirmPassword')?.invalid || 
                                registrationForm.get('password')?.value != registrationForm.get('confirmPassword')?.value) 
                                && registrationForm.get('confirmPassword')?.touched}" 
                            styleClass="w-full mb-1" 
                            [fluid]="true"
                            [feedback]="false" 
                        >
                        </p-password>
                        
                        <div class="min-h-6">
                            @if (registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched) {
                                <p-message severity="error" text="Please confirm your password" variant="simple" size="small"></p-message>
                            } @else if (registrationForm.get('password')?.value != registrationForm.get('confirmPassword')?.value 
                                && registrationForm.get('password')?.touched) {
                                <p-message severity="error"  text="Passwords don't match" variant="simple" size="small"></p-message>
                            }
                        </div>
                    </div>

                    
                    <p-button 
                        type="submit"
                        label="Create account" 
                        (onClick)="onRegister()"
                        [disabled]="registrationForm.invalid"
                        [loading]="isLoading$ | async"
                        styleClass="w-full">
                    </p-button>
    
                    <div class="flex items-center justify-center mt-2 gap-8">
                        <span class="font-medium no-underline text-right text-primary">
                            Already have an account? <b class="cursor-pointer" [routerLink]="['/login']">Sign in</b>
                        </span>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
