<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="profile-picture-edit">
        <div class="profile-picture-container" (click)="fileInput.click()">
            <img 
                [src]="previewUrl || user?.profileImageUrl || 'assets/avatar.png'" 
                alt="Profile picture"
                class="profile-picture"
            >
            <div class="overlay">
                <i class="pi pi-camera" style="font-size: 32px; color: var(--primary-contrast-color);"></i>
            </div>
        </div>
        <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none">
    </div>

    <!-- <mat-form-field appearance="outline" class="bio-field">
        <mat-label>Biography</mat-label>
        <textarea matInput #input maxlength="200" formControlName="biography" rows="4" placeholder="Write something about yourself...">
        </textarea>
        <mat-hint>Max 200 characters</mat-hint>
        <mat-hint align="end">{{this.editForm.get('biography')?.value?.length}}/200</mat-hint>
    </mat-form-field> -->
    
    <!-- TODO: Why does the textare resize when loading the second time?? -->
    <!-- TODO: Add hint -->
    <div class="bio-container">
        <label for="biography" class="block text-xl font-medium mb-2">Biography</label>
        <textarea 
            id="biography" 
            formControlName="biography" 
            rows="4" 
            cols="100"
            maxlength="200" 
            pTextarea 
            [autoResize]="true" 
            placeholder="Write something about yourself..."
            class="bio-field"
            >
        </textarea>
    </div>
    
    <div class="action-buttons">
        <p-button type="button" styleClass="p-button-outlined" (click)="onCancel()">Cancel</p-button>
        <p-button type="submit">Save Changes</p-button>
        <!--TODO: add [loading]="loading" -->
    </div>
</form>