@use '../../../styles/index.scss' as *;

.profile-picture-edit {
    @include flex-center;
    margin-bottom: $spacing-xxl;
    
    .profile-picture-container {
        position: relative;
        cursor: pointer;
        
        .profile-picture {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.overlay {
    @include flex-center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $overlay-background;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;

    &:hover {
        opacity: 1;
    }
}

.bio-container {

    label {
        margin-bottom: $spacing-xs;
    }

    .bio-field {
        width: 100%;
        margin-bottom: $spacing-lg;
    }
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: $spacing-md;
}