<nav class="nav-sidebar">
    <ul class="nav-list">
        <li>
            <a [routerLink]="['/home']" routerLink="active">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </a>
            <a [routerLink]="['/search']" routerLink="active">
                <mat-icon>search</mat-icon>
                <span>Search</span>
            </a>
            <a [routerLink]="['/profile']" routerLink="active">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </a>
        </li>
    </ul>
</nav>